.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-light-green, 0.5),
      rgba($color-dark-green, 0.7)
    ),
    url(../assets/person.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
  }

  &__logo {
    height: 6rem;
    width: 6rem;
  }
}
