.about {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  h4 {
    color: $secondary-color;
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.1rem;
    margin: 0.2rem 0 0.2rem 0;
  }

  p {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  &__bio {
    background: linear-gradient(
        to left,
        rgba($primary-color, 0.7),
        rgba($primary-color, 0)
      ),
      url("../assets/person.jpg");
    background-size: cover;
    height: 50vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;

    &-title {
      text-transform: uppercase;
    }

    &-content {
      color: set-text-color($primary-color);
      margin: 1rem 0;
    }
  }

  &__jobs {
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / auto;
    gap: 1rem;

    &-item {
      margin: 1rem 2rem 0 2rem;
      padding: 0.5rem;
      background-color: lighten($color: $primary-color, $amount: 8%);
      border-bottom: 5px solid $secondary-color;
      overflow: hidden;

      &-position {
        font-weight: bold;
      }
    }
  }
}
