$primary-color: #272727;
$secondary-color: orange;
$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$font-weight: (
  "regular": 100,
  "bold": bold
);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: $primary-font;
}

@function set-text-color($color) {
  @if (lightness($color) >= 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
