.contact {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to left,
      rgba($primary-color, 0.7),
      rgba($primary-color, 0)
    ),
    url("../assets//person.jpg") center top;

  background-size: cover;

  &__title {
    font-size: 2rem;
    margin: 1rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
      list-style: none;
      font-size: 1rem;
      margin: 1rem 1rem 0 1rem;
      a {
        color: $secondary-color;
        display: block;
      }
    }
  }
}
