html,
body {
    --color01: navajowhite;
    --color02: darkcyan;
    background-color: var(--color01);
    height: 100%;
}

.rect {
    padding: 0px 1vw;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color01);
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    line-height: 1.5;
}

.home {
    background-color: var(--color02);
}

.profile {
    background-color: var(--color02);
}

.logout {
    background-color: var(--color02);
}

.search {
    background-color: tomato;
    flex: 1 1 0;
}

.input {
    border: unset;
    background-color: tomato;
}

.container {
    border: 0.3rem solid goldenrod;
    margin: 2vh;
    display: flex;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.content-container > img {
    flex: 1 1 30%;
    width: 1%;
}

@media all and (max-width: 650px) {
    .container {
        flex-wrap: wrap;
    }

    .container > div,
    .container > form {
        flex: 1 1 50%;
    }

    .search {
        order: 1;
    }
}
