html,
body {
  height: 100%;
}

.box {
  background-color: darkgray;
  color: #ffff;
}

.container--fullscreen {
  height: 100%;
  width: 100%;
  display: flex;
}

.vertical__splitter {
  display: flex;
}

.horizontal__splitter {
  display: flex;
  flex-direction: column;
}
