* {
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
}

.box .box {
  background-color: #ccc;
  color: #444;
}

.container1 {
  margin: 1rem;
  display: grid;
  gap: 2%;
  grid-template: 1fr 3fr / repeat(2, 1fr 1.5fr);
}

.a {
  grid-area: 1 / 1 / 2 / 3;
}

.b {
  grid-column: 4;
}

.c {
  grid-area: 2 / 1 / -1 / 2;
}

.d {
  grid-area: 2 / 2 / -1/ 5;

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.e {
  grid-row: 1 / -1;
}

.f {
  grid-column: 2 / -1; 
}

.g {
  grid-area: 2 / 3 / -1 / -1;
}
