.btn {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: $color-dark-green;
  color: $color-light;
  font-size: $default-font-size;
  font-weight: 400;
  border-radius: 10rem;
  transition: all 0.2s;

  // CHANGES FOR <button> element
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $color-dark-green;
    border-radius: 10rem;
    transition: all 0.4s;
  }

  &:hover {
    transform: translate(0, -0.5rem);
    box-shadow: 0 1rem 2rem rgba($color-light-grey, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translate(0, -0.3rem);
    box-shadow: 0 1rem 1rem rgba($color-light-grey, 0.2);
    outline: none;
  }

  &:focus {
    box-shadow: 0 1rem 1rem rgba($color-light-grey, 0.2);
    outline: none;
  }

  &--white {
    background-color: $color-light;
    color: $color-light-grey;

    &::after {
      background-color: $color-light;
    }
  }

  &--animated {
    animation: move-in-up 0.7s ease-out 1s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    font-size: $default-font-size;
    color: $color-medium-green;
    text-decoration: none;
    transition: all 0.2s;
    padding: 5px;
    border-bottom: 1px solid $color-medium-green;
  }

  &:hover {
    color: $color-light;
    background-color: $color-medium-green;
    transform: translateY(-5px);
    box-shadow: 0 0.2rem 2rem rgba($color-dark, 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.2rem 3rem rgba($color-dark, 0.3);
  }
}
