@import "./resets";
@import "./variables";

@function weight($wightName) {
  @return map-get($map: $fontWeight, $key: $wightName);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-them: true) {
  @if $light-them {
    background: lighten($color: $primaryColor, $amount: 100%);
    color: darken($color: $textColor, $amount: 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $primaryColor;
  color: $textColor;
}

.main {
  @include flexCenter(row);

  width: calc(100% - 20%);

  #{&}__paragraph1 {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  #{&}__paragraph2 {
    @extend .main__paragraph1;

    &:hover {
      color: red;
    }
  }

  @include mobile() {
    flex-direction: column;
  }
}

.light {
  @include theme(true);
}
