@keyframes move-in-left {
  0% {
    transform: translate(-100px);
  }
  80% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes move-in-right {
  0% {
    transform: translate(100px);
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes move-in-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
