html {
  font-size: 62.5%; // 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 8px
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Courier New", Courier, monospace, sans-serif;
  box-sizing: border-box;
  color: $color-light-grey;
}

.heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__primary {
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
      display: block;
      color: $color-light;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation: move-in-left 1s ease-in-out;
      text-transform: uppercase;

      @include respond(phone) {
        letter-spacing: 3rem;
        font-size: 4rem;
      }
    }
    &--sub {
      display: block;
      color: $color-light;
      font-size: 2rem;
      letter-spacing: 1.3rem;
      animation: move-in-right 1s ease-in-out;
      text-transform: uppercase;

      @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 1.5rem;
      }
    }
  }

  &__secondary {
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-light-green,
      $color-dark-green
    );
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.2rem;
    transition: all 0.2s;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2rem;
      letter-spacing: 0;
    }

    &:hover {
      transform: skew(15deg, 2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-dark, 0.2);
    }
  }

  &__tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
    font-weight: 700;

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @include respond(tab-port) {
    width: 80%;
    margin: 0 auto;
  }
}
