body {
    font-size: 2rem;
}

.parent {
    background-color: blue;
    padding: 1.5vw;
}

.child-one {
    background-color: chartreuse;
    position: sticky;
    top: 0;
}

.child-two {
    background-color: tomato;
}

.child-three {
    background-color: palevioletred;
}
